body{
    margin: 0px;
    font-family: arial;
}
.conteudo{
    padding: 8mm;
    height: 187mm;
    width: 132mm;
    border-bottom: 1px solid #fff;
}
.recibo{
    width: 132mm;
    height: 87mm;
    margin-bottom: 18mm;
    
}
.linha1{
    width: 132mm;
    height: 24.28mm;
}
.linha2{
    width: 132mm;
    height: 7.2mm;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.linha3{
    width: 132mm;
    height: 31mm;
    padding-top: 2mm;
}
.linha4{
    width: 132mm;
    height: 4.56mm;
    border-top: 0.2mm solid #000;
    border-bottom: 0.2mm solid #000;
    overflow: hidden;
}
.linha5{
    width: 132mm;
    height: 20.30mm;
}
.logo{
    float: left;
    width: 35mm;
    height: 23mm;
    overflow: hidden;
    margin: 1px 0 0 1px;
}
.titulo{
    width: 81mm;
    height: 24.15mm;
    margin-left: 11.22mm;
    text-align: center;
    float: left;
}
.titulo h1{
    font-family: arial;
    font-weight: bold;
    font-size: 10pt;
    margin-bottom: 0px;
}
.titulo h2{
    font-family: arial;
    font-size: 8pt;
    margin: 0px;
}
.num_recibo{
    display: block;
    margin: 2px 0px 0px 0px;
    padding: 0px;
    font-size: 14pt;
    font-weight: bold;
    float: left;
}
.valor{
    display: block;
    margin: 2px 0px 0px 0px;
    padding: 0px;
    font-size: 14pt;
    font-weight: bold;
    float: right;;
}
.termo{
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    font-size: 9pt;
    text-align: justify;
    line-height: 3.3mm;
}
.obs{
    display: block;
    margin: 4mm 0 0 0;
    padding: 0px;
    font-size: 9pt;
    text-align: justify;
    line-height: 3.3mm;
}
.data{
    display: block;
    margin: 3px 0 0 0;
    float: right;
    padding: 0px;
    font-size: 9pt;
    text-align: justify;
    line-height: 3.3mm;
}
.baixado{
    display: block;
    margin: 3px 0 0 0;
    float: left;
    padding: 0px;
    font-size: 9pt;
    text-align: justify;
    line-height: 3.3mm;
    
}
.ass{
    display: block;
    margin: 17.5mm 0 0 0;
    float:left;;
    padding: 0px;
    border-top: 1px solid black;
    font-size: 6pt;
    text-align: center;
    width: 64mm;
    height: 2.7mm;
}